*.egg-info
*.pyc
__pycache__

# Testing
.cache

# Editors
.spyproject
.vscode

# Tox
.tox
# Coverage
htmlcov
.coverage*
coverage.xml

# Setup
dist
build

# Misc
notes

# Notebooks
.ipynb_checkpoints
Untitled*.ipynb
